/* html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
} */

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	color: #151515;
}

.btn{
	color: #fff;
	background-color: #151515;
	padding: 13px 61px;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.section-title{
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
}